<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>
</head>
<body>
    <h1>Lista de clientes</h1>
    <ul>
        <% usuarios.forEach(usuario => { %>
            <li>
                Nome: <%= usuario.nome %><br>
                Email: <%= usuario.email %><br>
                Senha: <%= usuario.senha %><br>

                <hr>
            </li>
        <% }); %>
    </ul>
</body>
</html>