<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>
</head>
<body>
    <h1>Lista de pedidos</h1>
    <ul>
        <% pedidos.forEach(pedido => { %>
            <li>
                Descricao: <%= pedido.descricao %><br>
                <hr>
            </li>
        <% }); %>
    </ul>
</body>
</html>